.board-show-info {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  padding-left: 14%;
  padding-right: 18%;
  margin-top: 142px;
}

.board-show-title {
  font-weight: 800;
  font-size: 48px;
  padding: 14px 4px 4px 20px;
}

.board-show-followers {
  padding-left: 20px;
  font-size: 14px;
  color: #8e8e8e;
}

.board-info-right {
  font-size: 50px;
}
