.greeting {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  padding-left: 14%;
  padding-right: 18%;
  margin-top: 142px;
}

.greeting-name {
  font-weight: 800;
  font-size: 36px;
  padding: 18px;
}

.followers {
  font-size: 14px;

}

#user-icon {
  font-size: 70px;
}

.page-toggle {
  font-size: 16px;

  color: rgb(142, 142, 142);;
}

.page-toggle li {
  display: inline;
  padding: 14px;
  border-radius: 25px;
  margin-right: 10px;
}

.page-toggle li:hover {
  cursor: pointer;
}

.page-toggle .current {
  background-color: #f2f2f2;
  color: black
}
