.login-form-container {
  background: image-url('myinterest_splash.jpg');
  display :flex;
  /* flex-direction: column; */
  justify-content: center;
  // height: 100%;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  -webkit-filter: brightness(50%); /* Safari */
  filter: brightness(50%);
}



.login-form-box {
  background-color: white;
  width: 34%;
  padding-left: 7%;
  padding-right: 7%;
  padding-top: 4%;
  padding-bottom: 4%;
  height: 600px;

  border-radius: 10px;
  position: absolute;
  top: 12%;
  left: 33%;

}

.login-text-box {
  height: 35px;
  width: 100%;
  font-size: 1.2em;
  border: 1px solid grey;
  border-radius: 5px;
  padding-left: 10px;
  box-sizing: border-box;
}

.session-submit{
  background-color: #C92228;
  width: 100%;
  height: 38px;
  font-size: 1.2em;
  color: white;
  border-radius: 5px;
}

.demo-button {
    background-color: #4885ed;
    width: 100%;
    height: 38px;
    font-size: 1.2em;
    color: white;
    border-radius: 5px;
    text-align: center;
}

.login-toggle-button {
  background-color: white;
  width: 130px;
  height: 42px;
  font-size: 1em;
  font-weight: bolder;
  border-radius: 5px;
  position: absolute;
  top: 8%;
  right: 2%;
  z-index: 2000;
  text-align: center;
  padding-top: 10px;
}

.login-toggle-button:hover {
  -webkit-filter: brightness(80%); /* Safari */
  filter: brightness(80%);
}

.demo-button:hover {
  -webkit-filter: brightness(80%); /* Safari */
  filter: brightness(80%);
}

.session-submit:hover {
  -webkit-filter: brightness(80%); /* Safari */
  filter: brightness(80%);
}
