.navbar {
  width: 100vw;
  border-bottom: 1px solid #cccccc;
  display: flex;
  justify-content: space-between;
  padding: 3px;
  position: fixed;
  top: 0;
  background-color: white;

}

.navbar-left {
margin: 5px;

}

.navbar-center {
  border-radius: 5px;
  background-color: #f2f2f2;
  width: calc(100% - 400px);
  margin: 10px;
}

.search-bar {
  font-weight: bold;
  font-size: 16px;
  padding-bottom: 10px;
  width: calc(100% - 100px)
}

.navbar-username {
  padding-top: 12px;
  font-weight: bold;
  font-size: 16px;
  padding-right: 8px;
  color: rgb(142, 142, 142);
}

.navbar-right {
  display: flex;
  margin: 8px;
  vertical-align: middle;
}

.navbar i {
  padding: 8px 16px 8px 16px;
  border-radius: 25px;
}

.navbar-user {
  display: flex;
  border-radius: 25px;
}

.navbar-user:hover {
  background-color: #f2f2f2;
  cursor: pointer;
}

.navbar-right i:hover {
  background-color: #f2f2f2;
  cursor: pointer;
}
