.navbar {
  width: 100vw;
  border-bottom: 1px solid #cccccc;
  display: flex;
  justify-content: space-between;
  margin: 5px;

}

.navbar-left {

}

.navbar-center {
  border-radius: 5px;
  background-color: #e6e6e6;
  width: calc(100% - 400px);

}

.navbar-right {
  display: flex;
}

.navbar i {
  padding: 10px;
}
