.pin-list {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
  max-width: 90vw;
  justify-content: center;
}

.pin-item {
  width: 240px;
  margin: 10px 5px;
  border-radius: 8px;
}

.pin-item:hover {
  cursor: pointer;
  background-color: #e6e6e6;
}

.margin-holder {
  padding: 10px;
}

.pin-photo {

  margin: auto;
  border-radius: 6px;

  width: 220px;

}

.pin-title {
  margin: 10px 0px;
  font-weight: 600;

}
